body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #18191A; */
  /* background-color: #0d0208; */
  background: linear-gradient(to bottom, #0d0208 70%, #e6007a 150%);
  color: #d5d3d3;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


